.productList {
	width: 85%;
	margin-left: 2rem;
	font-size: 1.6rem;
}

.productListEdit{
	border: none;
	border-radius: 1rem;
	padding: .5rem 1rem;
	background-color: #3bb077;
	color: white;
	cursor: pointer;
	margin-right: 2rem;
}

.productListDelete{
    color: red;
    cursor: pointer;
}

.produtosTable{
  width: 100%;
  border-spacing: 2rem;
}

.produtosTr {
  margin-bottom: 2rem;
}

.produtosTh{
  text-align: left;
  font-size: 2rem;
}

.produtosTr {
  margin-bottom: 25px;
}

.produtosUser{
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-bottom: 2rem;
  font-size: 1.6rem;
}

.produtosImg {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.produtosEstoque, .produtosAmount, .produtosProduto {
  font-weight: 300;
  font-size: 1.5rem;
}

.productListItem{
    display: flex;
    align-items: center;
}

.MuiDataGrid-main {
    font-size: 1.5rem !important;
}

.productListImg {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
  }