.home {
  width: 85%;;
}

.homeWidgets {
  display: flex;
  margin: 2rem;
}

@media (max-width: 650px) {
  .homeWidgets {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}